/* General resets and base styles */
html, body {
  color: #555b6e; /* Darker text color for better readability */
  background-color: #faf9f9;
  font-size: 16px; /* More consistent font size */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Header Styling */
header {
  grid-area: header;
  background-color: #555b6e;
  color: #ffd6ba;
  padding: 1rem;
  text-align: center;
  position: relative;
}

header h1 {
  border: 3px solid #ffd6ba;
  background-color: #555b6e;
  padding: 0.5em;
  font-size: 2.5rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
}

/* Navigation Styling */
nav {
  text-align: center;
  background-color: #555b6e;
  color: #ffd6ba;
  font-size: 1.2rem;
  padding: 0.5rem 0;
}

nav a {
  display: inline-block;
  padding: 0.5em 1em;
  color: #ffd6ba;
  text-decoration: none;
}

nav a:hover {
  background-color: #89b0ae;
  color: #ffffff;
}

/* Table Styling */
table {
  width: 100%;
  border-radius: 8px;
  border-collapse: separate; /* Allows for rounded corners */
  border-spacing: 0; /* Removes gaps between cells */
  margin: 2rem 0;
  background-color: #ffffff; /* Light background for the table */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for a lifted effect */
}

table caption {
  font-weight: bold;
  font-size: 1.25rem;
  color: #555b6e;
  padding: 1rem;
  background-color: #ffd6ba; /* Soft background for the caption */
  border-radius: 8px 8px 0 0; /* Rounded corners on top */
  border: none;
}

thead {
  background-color: #555b6e; /* Darker background for header */
  color: #ffd6ba;
}

thead th {
  padding: 1rem;
  text-align: left;
}

tbody tr {
  border-bottom: 1px solid #ddd; /* Light border for rows */
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9; /* Alternating row color */
}

tbody tr:hover {
  background-color: #f0f0f0; /* Hover effect for rows */
}

td, th {
  padding: 1rem;
  text-align: left;
}

td {
  background-color: #ffffff; /* Background color for cells */
  border-radius: 0 0 8px 8px; /* Rounded bottom corners for cells */
}


/* Images */
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
}

/* Section and Figure Styling */
section {
  color: #555b6e;
  font-size: 1rem;
  margin: 1rem 0;
}

figure {
  width: 100%;
  max-width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #555b6e;
  margin: 0 auto;
  text-align: center;
}

figcaption {
  color:black;
  font-style: italic;
  margin-top: 0.5em;
}

/* Footer Styling */
footer {
  grid-area: footer;
  background-color: #555b6e;
  color: #ffd6ba;
  text-align: center;
  padding: 1rem;
}

footer a {
  color: #ffd6ba;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
